<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://use.fontawesome.com/65a84614d5.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Sharp%3Asearch" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Amenu" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Aclose" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /*-----footer----*/
        .footer {
            top: 100px;
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 200px;
        }

        .footer h4 {
            margin-bottom: 25px;
            margin-top: 20px;
            font-weight: 600;
        }

        .icons-co .fa {
            color: rebeccapurple;
            margin: 0 13px;
            cursor: pointer;
            padding: 18px 0;
        }
    </style>
</head>

<body>
    <!----find us----->
    <section class="footer">
        <h4>Contact Info</h4>
        <p>A boy's best friend is his mother.This line is spoken by Norman Bates, played by Anthony Perkins,
            in the film Pyscho,<br> directed by Alfred Hitchcock (1960).In Alfred Hitchcock's 1960 masterpiece of
            terror,
            Psycho, a woman named Marion Crane (Janet Leigh) with $40,000 in stolen cash (which is over 300,000
            smackeroos today)
            <br>stops running from the law for a night at a quaint little motel. The Bates Motel.
        </p>
        <div class="icons-co">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
</body>

</html>