@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: "poppins", "sans-serif";
  word-wrap: break-word;
}

.navigator {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.but {
  background-color: #04aa6d;
  color: white;
  padding: 14px 14px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.but:hover {
  opacity: 0.8;
}

.container {
  height: 80%;
}

.profile-img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile-img div {
  position: relative;
  text-align: center;
  bottom: 20%;
  left: 30%;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.profile-img:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.8;
}

.left-side {
  width: 470px;
  height: 100%;
}

.profile-img {
  float: left;
  width: 265px;
  height: 200px;
}
img {
  min-width: 200px;
  max-width: 200px;
}
.profile-img img {
  border-radius: 50%;
  height: 185px;
  width: 185px;
  border: 4px solid #5e8191ff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 0;
  top: 50px;
  left: 60px;
}
.profile-header {
  background: #fff;
  display: flex;
  width: 100%;
  height: 20%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  /* background-image: linear-gradient(#310C25, #270A1E); */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/ban8.jpg);
  border: 2px solid #5e8191ff;
}

.profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-left: 5%;
  color: white;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.profile-nav-info .work {
  display: flex;
  font-weight: bold;
}

.profile-nav-info address p {
  margin-right: 5px;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}
.profile-side {
  width: 295px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 35px 30px 20px;
  font-family: "Bree Serif", serif;
  z-index: 99;
  margin-left: 10px;
}
.more,
.less,
.more-a {
  border: none;
  margin: 0;
  padding: 0;
  display: none;
  text-decoration: none;
  color: #0f2d3b;
}

.bio p {
  color: black;
}
.more-a:active,
.less:active {
  color: red;
}

.active {
  display: inline;
}
.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: #0f2d3b;
  margin-right: 10px;
}

.phone i {
  transform: rotateY(180deg);
}
#more {
  display: none;
}

#see-more-bio,
#see-less-bio {
  color: #0f2d3b;
  cursor: pointer;
  text-transform: lowercase;
}

.follow {
  display: flex;
  justify-content: space-around;
}

.follow a {
  padding-bottom: 10px;
  color: gray;
}

.follow a:hover {
  color: black;
}
.profile-btn {
  display: flex;
}
.upload,
.edit {
  border: none;
  position: relative;
  top: 25%;
  margin: 5px 2px;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  font-family: "Bee-Serif", "sans-serif";
  outline: none;
  text-decoration: none;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #3b0f2d;
  text-align: center;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}

.upload:active,
.papper-upload:active,
.edit:active {
  background: #ccc;
}

.profile-btn {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  top: 30px;
  background-image: linear-gradient(to right, #fff, #e8edef);
  min-width: 132px;
}

.dropdown-content a {
  color: 081921;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d1dbdf;
  color: #0a1e27;
}
.focused1:focus {
  background: #d5d5d5;
  color: #555;
}
.show1 {
  display: block;
}
.nav {
  width: 100%;
  z-index: -1;
}

.nav p {
  display: flex;
  justify-content: center;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-body {
  width: 100%;
  text-align: center;
  padding-left: 20px;
  display: flex;
}

/* DOCUMENT DISPLAY */


.posts {
  /* display:none; */
  height: 500px;
  overflow: auto;
  width: 100%;
}

.postContent {
  height: 170px;
  position: relative;
}


.pdf-icon {
  font-size: 100%;
  /* box-sizing: border-box; */
  display: inline;
  position: relative;
  width: 6em;
  top: 20px;
  left: 3%;
  float: left;
  height: 8.5em;
  background-color: #eee;
  background-image: url("https://i.imgur.com/lZ5SgDE.png");
  background-repeat: no-repeat;
  background-size: 85% auto;
  background-position: center 2em;
  border-radius: 1px 2em 1px 1px;
  border: 1px solid #ddd;
}

.pdf-icon:after {
  content: "PDF";
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 0.2em 0 0.1em;
  color: white;
  display: block;
  position: absolute;
  top: 0.7em;
  left: -1.5em;
  width: 3.4em;
  height: auto;
  background: #da2525;
  border-radius: 2px;
}


.paperTitle {
  position: relative;
  top: 20px;
  left: 5%;
  width: 90%;
  text-align: left;
}

.paperControl {
  left: 15%;
  position: absolute;
  display:flex;
  justify-content: start;
  align-items: start;
  bottom: 8%;
  width: 30%;
  
}

.paperControl a{
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  color: rgba(6, 66, 177, 0.973);
  font-weight: bold;

}

.givePadding {
  color:white;
  padding: 60px;
}

.no-posts {
  position: relative;
  width: 60%;
  background-color: #fff;
  position: relative;
  top: 30%;
  left: 20%;
  height: 180px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.no-posts p {
  position: relative;
  top: 20%;
  font-size: 20px;
}

.papper-upload {
  position: relative;
  top: 30%;
  border: none;
  margin: 5px 2px;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  font-family: "Bee-Serif", "sans-serif";
  outline: none;
  text-decoration: none;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #3b0f2d;
  text-align: center;
  transition: background 0.1s ease-in-out;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 47%;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.nContainer {
  padding: 16px;
}

.textArea {
  width: 100%;
}

.textArea textarea {
  width: 100%;
  resize: none;
}

/* DropDown content of profile*/
.dropdown-content0 {
  display: none;
  position: absolute;
  top: 85%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/research/images/ban3.jpg);
  min-width: 132px;
  right: 4%;
  z-index: 1;
}

.dropdown-content0 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content0 a:hover {
  background-color: #194b63;
  color: white;
}

.view-prof {
  color: rgb(151, 151, 151);
}

.show0 {
  display: block;
}
